/* NewBanner.css */
.title {
    position: relative;
  }
  
  .title img {
    width: 100%;
    height: auto;
  }
  
  .subtitle {
    position: absolute;
    top: 80%;
    bottom: 50%;
    left: 22%;
    transform: translate(-50%, -50%);

    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .subtitle button {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    color: #000;
    cursor: pointer;
  }
  
  .subtitle button:hover {
    background-color: green;
    transition: 0.5s;
  }
  @media (max-width: 865px) {
    .subtitle button{
      padding: 5px 15px;
      font-size: 14px;
    }
  }


  @media (max-width: 659px) {
    .subtitle button{
      padding: 3px 15px;
      font-size: 12px;
    }
    .subtitle{
      top:76% !important;
    }
  }
  @media (max-width: 501px) {
    .subtitle button{
      padding: 3px 15px;
      font-size: 12px;
    }
    .subtitle{
      top:40% !important;
    }
    .subtitle .div{
    background: #000;
    padding: 6px 6px;}
  }



