.newheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
 
   
}
.newheader .logo{
    width: 71%;
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 17px;
}
.newheader .logo img{
    width: auto;
    height: 76px;
}

.newheader .logo .search_box {
    width: 73%;
    padding-top: 20px;
}

.newheader .logo .search_box input{
    background-color: transparent;
    padding: 0 15px;
    height: 40px;
    border: 1px solid #ddd;
    width: 100%;
    line-height: 18px;
    color: var(--h-text-color);
    border-radius: var(--btn-radius);
    font-size: 13px;
}
.newheader .logo .search_box button{
    --h-btn-color: #fff;
    --h-btn-bg-color: #48ad92;
    --h-btn-bg-color-hover: #327764;
    margin: 0;
    min-width: 130px;
    font-weight: 600;
    border-radius: var(--btn-radius);
    background-color: var(--h-btn-bg-color);
    color: var(--h-btn-color);
    font-size: 14px;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
    padding: 11px 15px;
}
.newheader .buttons .social{
    display: flex;
    gap: 21px;
    align-items: center;
    padding-top: 0px;
}

.newheader .offcanvas__ .offcanvas-body .links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.newheader .offcanvas__ .offcanvas-body .links ul li a{
    color:#000;
    
}
.newheader .offcanvas__ .offcanvas-body .links ul li a:hover{
    color: #327764;
}



.newheader  .contact_me{
    color: #000;
    text-align: center;
    padding-top: 15px;
  }
  .newheader  .contact_me i{
    color: #0D89EF !important;
  }
  .newheader .main_headerrrr_2{
    display: flex ;
    gap: 55px;
  }
html{
    overflow-x: hidden;
}
  
  @media (max-width: 907px) {
    .newheader .contact_me{
        font-size: 12px;
    }
  }
  @media (max-width: 847px) {
    .newheader .logo{
        flex-direction: column;
        gap:0 !important;
    }
    .newheader{
        flex-direction: column;
        gap:0 !important;
    }
    .newheader{
        padding-bottom: 20px;
    }
  }
  
  @media (max-width: 601px) {
    .newheader .logo .search_box input{
        font-size: 9px !important;
    }
    .newheader .logo .search_box button{
        --h-btn-color: #fff;
        --h-btn-bg-color: #48ad92;
        --h-btn-bg-color-hover: #327764;
        margin: 0;
        min-width: 66px;
        font-weight: 600;
        border-radius: var(--btn-radius);
        background-color: var(--h-btn-bg-color);
        color: var(--h-btn-color);
        font-size: 12px;
        transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
        padding: 11px 15px;
    }
  }

  