.preloader {
    width: 100%;
    height: 100vh;
    background-color: #181823;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 300px;
    transition: 0.3s;
  }
  
  .logo-1 {
    animation: 2.3s ease infinite img1;
    opacity: 0;
  }
  
  .logo-2 {
    animation: 2.3s ease infinite img2;
    opacity: 0;
  }
  
  @keyframes img1 {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    25% {
      transform: translate(0, 20%);
    }
    50% {
      transform: translate(0, 0%);
    }
    100% {
      transform: translate(-15%, 0%);
      opacity: 1;
    }
  
   
  }
  
  @keyframes img2 {
    0% {
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: translate(15%, 0);
      opacity: 1;
    }
  }
  
  @keyframes img3 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: translate(-15%, 0);
      opacity: 1;
    }
  }
  @keyframes img4 {
    0% {
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: translate(-15%, 0);
      opacity: 1;
    }
  }
  
  @keyframes slide{
    0%{ transform:translateX(0px) }
    33%{ transform:translateX(-200px) }
    66%{ transform:translateX(-400px) }
    100%{ transform:translateX(-600px) }
    }
  
  
  